<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
        <!--把用到业务类和日志记录工具类 都交给 spring管理-->
    <bean name="deptService" class="com.aaa.aop.service.DeptServiceImpl"></bean>
    <bean name="userService" class="com.aaa.aop.service.UserServiceImpl"></bean>
    <bean name="logUntil" class="com.aaa.aop.until.LogUntil"></bean>

    <!--通过spring提供aop配置，让业务类和工具类联系起来-->
    <!--aop配置 切入点表达式 void代表返回值  *代表所有方法 ..代表0个或者多个参数-->
    <aop:config>
        <!--切入点配置-->
        <aop:pointcut id="point" expression="execution(void *())"></aop:pointcut>
        <!--切面配置-->
        <aop:aspect ref="logUntil">
            <!--后置通知配置-->
            <!--<aop:after-returning method="saveLog" pointcut-ref="point"></aop:after-returning>-->
            <!--前置通知-->
            <!--<aop:before method="beforeOpt" pointcut-ref="point"></aop:before>-->
            <!--异常通知-->
            <!--<aop:after-throwing method="exceptionAdivce" pointcut-ref="point" throwing="ex"></aop:after-throwing>-->
            <!--最终通知-->
            <!--<aop:after method="fianlAdvice" pointcut-ref="point"></aop:after>-->
            <!--环绕通知-->
            <aop:around method="aroundAdvice" pointcut-ref="point"></aop:around>
        </aop:aspect>
    </aop:config>
</beans>